<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBModel.Properties.Settings.StockDataConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=StockData;Persist Security Info=True;User ID=stocksa;Password=!QAZ1qaz;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>