<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <connectionStrings>
    <add name="StockDataEntities" connectionString="metadata=res://*/StockData.csdl|res://*/StockData.ssdl|res://*/StockData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=StockData;persist security info=True;user id=stocksa;password=!QAZ1qaz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="StockDataDB"
        connectionString="Data Source=localhost;Initial Catalog=StockData;Persist Security Info=True;User ID=stocksa;Password=!QAZ1qaz;MultipleActiveResultSets=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>  
</configuration>
